/*
Site: Where Did All the Time Go?
URI: http://jennyfan.com/time
Author: Jenny Fan
Author URI: http://jennyfan.com
Version: 2.0
Description: A reboot 4 years later of the Spring 2012 visualization mapping how I used my time during college.
*/

@font-face {
	font-family: 'Freight Black';
	src: url(fdb.otf);
}
@font-face {
	font-family: 'Freight';
	src: url(fd.otf);
}

body {
	margin: 50px 0;
	background-color: #f3f3f3;
  	font: 16px;
	text-align: center;
}

rect:hover, .hover {
  opacity: 0.5 !important;
}
.axis path,
.axis line {
  fill: none;
  stroke: #5e5e74;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  padding: 0px 12px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.d3-tip span {
	color: #fff !important;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Links */
a {	
	text-decoration: none;
}
a:link {
	color: #5e6575;
}
a:visited {
	color: #5e6575;
}
a:hover, a:active {
	color: #8c9ca8;
}

/* Text */
g { 
	font-size: 0.9em;
	font-family: 'PT Sans';
	letter-spacing: 0.05em;
}
text { fill: #5e5e74; }

h1 {
	font-family: 'Freight Black';
	font-size: 52px;
	font-weight: 700;
	margin: 100px auto 20px;
	color: #5e6575;
}
h2 {
	font-family: 'PT Sans';
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 20px auto 30px;
	letter-spacing: 0.02em;
	color: #a8a499;
}
h3 {
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5em;
	text-transform: uppercase;
	margin: 10px auto;
	letter-spacing: 0.02em;
	color: #a8a499;
}
.footer {
	width: 70%;
	margin: 0 auto;
	font-family: 'Freight';
	font-size: 1.2em;
	line-height: 1.4em;
	letter-spacing: 0.02em;
	margin: 50px auto 40px;
	color: #5e5e74;
}
